<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.proleesh.project02.dao.StudentDAO">
<!--    // [1] 전체 학생 목록 조회 SQL Mapper 작성-->
    <select id="getAllStudents" resultType="org.proleesh.project02.dto.StudentDTO">
        select id ,name, email, address from student ORDER BY id DESC
    </select>
<!--    [2] 특정 학생 목록 조회 SQL Mapper 작성 -->
    <select id="getStudent" resultType="org.proleesh.project02.dto.StudentDTO">
        select id ,name, email, address from student WHERE id = #{param1}
    </select>
<!--    [3] 학생 목록 입력 SQL Mapper 작성 -->
    <insert id="addStudent" parameterType="org.proleesh.project02.dto.StudentDTO">
        insert into student (name, email, address) values (#{name}, #{email}, #{address})
    </insert>
<!--    [4] 학생 목록 정보 수정 SQL Mapper 작성 -->
<!--    [5] 학생 목록 정보 삭제 SQL Mapper 작성 -->
</mapper>